@media screen and (max-width: 600px) {
  body {
    width: 375px;
    margin: 0 auto;
  }

  .top-bar {
    padding: 20px;
  }

  .top-bar .menu-bar span {
    display: block;
  }

  .top-bar .menu-bar ul li {
    display: none;
  }

  .banner {
    margin: 0 auto;
    width: 335px;
  }

  .banner .container {
    padding-top: 32px;
    width: 335px;
    margin: 0 auto;
  }

  .banner .container > h1 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  .banner .container > p {
    font-size: 0.8rem;
    width: 304px;
    margin-bottom: 32px;
  }

  .banner .container > form {
    flex-direction: column;
    gap: 16px;
    width: 287px;
  }

  .box {
    width: 255px;
  }

  .popular {
    flex-direction: column;
    width: 335px;
    margin: 24px auto;
  }

  .container-top {
    margin: 0 auto;
    width: 335px;
  }

  .container-top h2 {
    font-size: 1.5rem;
  }

  .container-top ul {
    color: rgba(19, 19, 24, 0.7);
    width: 335px;
  }
  .container-top ul li {
    width: 335px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0 12px 10px;
  }

  .container-bottom img {
    width: 335px;
  }

  .bottom-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .container-text {
    font-size: 14px;
    line-height: 24px;
    width: 335px;
  }

  .bottom-text .btn-primary {
    width: 174px;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 30px;
  }

  .destination-section h2 {
    font-size: 1.5em;
  }

  .destination-section p {
    font-size: 0.8rem;
    margin: 16px auto;
    width: 309px;
  }

  
  .destination-section {
    text-align: center;
    margin: 24px 20px;
  }

  .box-title {
    padding: 75px 124px;
    font-size: 1.5rem;
    width: 335px;
  }

  .destination-section-1 {
    grid-template-columns: 1fr;
    justify-content: center;
    width: 335px;
    margin: 0 auto;
  }

  .destination-section-2 {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .destination-section-3 {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .activity-description {
    width: 309px;
  }

  .card-section {
    flex-direction: column;
    width: 335px;
  }

  .discount-description {
    font-size: 0.9rem;
    width: 309px;
    margin: 16px auto;
  }

  .discount-card-1 {
    backdrop-filter: blur(2.5px);
    width: 335px;
    position: relative;
    height: 500px;
  }

  .discount-text-1 {
    width: 303px;
    position: absolute;
    margin: 0 auto;
    left: 5%;
    top: 76px;
    border-radius: 16px;
  }

  .discount-card-2 {
    backdrop-filter: blur(2.5px);
    width: 335px;
    position: relative;
    height: 500px;
  }

  .discount-text-2 {
    width: 303px;
    position: absolute;
    margin: 0 auto;
    left: 5%;
    top: 76px;
    border-radius: 16px;
  }

  .discount-card-3 {
    backdrop-filter: blur(2.5px);
    width: 335px;
    position: relative;
    height: 500px;
  }

  .discount-text-3 {
    width: 303px;
    position: absolute;
    margin: 0 auto;
    left: 5%;
    top: 76px;
    border-radius: 16px;
  }

  .discount-top {
    flex-wrap: wrap;
  }

  .top-details {
    font-size: 14px;
  }

  .discount-title {
    font-size: 20px;
    margin: 8px;
  }

  .discount-details {
    font-size: 14px;
    width: 254px;
    margin-bottom: 0px;
  }

  .price {
    color: #ff5400;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 12px;
  }

  .btn-discount {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 140px;
  }

  .box.btn.btn-bottom {
    width: 210px;
    margin: 20px auto;
  }

  .get-lost {
    flex-direction: column;
    width: 355px;
    margin: 20px auto;
  }

  .get-lost-text {
    width: 100%;
  }

  .get-lost-video {
    width: 335px;
    height: 200px;
    margin: 0 auto;
  }

  .get-lost-title {
    font-size: 1.25rem;
    width: 248px;
  }

  .get-lost-description {
    font-size: 0.9rem;
    width: 335px;
  }

  .get-lost-list {
    font-size: 0.9rem;
    width: 335px;
  }

  .get-lost-bottom {
    flex-direction: column;
  }

  .footer > p {
    width: 287px;
  }
}
